

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container jumbotron">
        <h1>Omnitracs Weather Site</h1>
    </div>
    <div class="container-md mt-5">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/omnitracs-weather.js"></script>
</body>
</html>
